header {
  background: #23a2d9ff;
  color: white;
  padding: 1rem;
}

main {
  flex: 1; /* expands to fill available space */
  padding: 1rem;
}

footer {
  background: #00000095;
  color: white;
  padding: 1rem;
}

.container {
    display: flex;
  flex-direction: column; /* stack header, main, footer vertically */
  min-height: 100vh;  
}